@import url("https://fonts.googleapis.com/css?family=VT323");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "VT323";
}

body::after {
  content: "";
  background-image: url("../../assets/images/world-kids.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
}
